@import "tailwindcss";

* {
  /* padding: 0; */
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@keyframes slideIn {
  from {
    transform: translateX(400px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slideIn 0.3s ease-out;
}
